<div class="block contact-container container-block">
  <div class="terminal-prompt">info@viktorgsteiger:~$</div>
  <h2 class="section-title">
    Contact
  </h2>

  <div class="contact-row">
    <div class="contact-item email">
      <i class="fas fa-envelope"></i>
      <a href="mailto:{{ header.email }}">{{ header.email }}</a>
    </div>

    <div class="contact-item website">
      <i class="fas fa-globe-americas"></i>
      <a href="http://{{ header.website }}" target="_blank">{{ header.website }}</a>
    </div>

    <div class="contact-item linkedin">
      <i class="fab fa-linkedin"></i>
      <a href="https://linkedin.com/in/{{ header.linkedin }}" target="_blank">{{ header.linkedin }}</a>
    </div>
  </div>

  <div class="contact-row">
    <div class="contact-item github">
      <i class="fab fa-github"></i>
      <a href="http://github.com/{{ header.github }}" target="_blank">{{ header.github }}</a>
    </div>

    <div class="contact-item goodreads-g">
      <i class="fab fa-goodreads-g"></i>
      <a href="https://www.goodreads.com/user/show/{{ header.goodreads }}" target="_blank">{{ header.goodreads }}</a>
    </div>

    <div class="contact-item pdf">
      <i class="fas fa-id-badge"></i>
      <a href="https://orcid.org/{{ header.orcid }}" target="_blank">{{ header.orcid }}</a>
    </div>
  </div>
</div><!--//contact-container-->
