<nav class="terminal-nav">
    <a class="terminal-nav-item">info@viktorgsteiger:~$</a>
    <a href="#about" class="terminal-nav-item">about</a>
    <a href="#contact" class="terminal-nav-item">contact</a>
    <a href="#education" class="terminal-nav-item">education</a>
    <a href="#experiences" class="terminal-nav-item">experiences</a>
    <a href="#projects" class="terminal-nav-item">projects</a>
    <a href="#publications" class="terminal-nav-item">publications</a>
    <span class="cursor">&#9608;</span>
</nav>