/* ======= Theme Color Definitions Adjusted for Palantir Aesthetic ======= */
$theme-color: #003366;
$text-color: #212529;
$text-color-secondary: #5a5a5a;
$background-color: #ffffff;
$smoky-white: #f2f4f8;
$text-grey: #737373;
$light-blue: #2b4b80;
$heart: #e83e8c;


/* ======= Base ======= */
body {
  font-family: 'Roboto', sans-serif;
  color: $text-color-secondary;
  background: $smoky-white;
  font-size: 14px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

pre {
  font-family: 'Roboto', sans-serif;
  color: $text-color-secondary;
  background: $smoky-white;
  text-align: center;
  font-size: 14px;
  border: none;
}

a {
  color: $theme-color;
  &:hover {
    text-decoration: underline;
    color: $light-blue;
  }
}

p {
  line-height: 1.5;
}

.main-wrapper {
  background: $smoky-white;
  padding: 60px;
  .section-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: $text-color;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .section {
    margin-bottom: 60px;
  }
  .block {
    margin-bottom: 30px;
  }

  .experiences-section,
  .educations-section {
    .item {
      margin-bottom: 30px;
    }
  }
  .upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
    display: flex;
  }
  .job-title,
  .degree {
    color: $text-color;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    flex: 75%;
  }
  .time {
    position: absolute;
    right: 0;
    top: 0;
    color: $text-grey;
    flex: 25%;
  }
  .company,
  .university {
    margin-bottom: 10px;
    color: $text-grey;
  }

  .project-title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
    color: darken($theme-color, 15%);
  }
  .projects-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
  }

  .publication-title {
    font-size: 16px;
    font-weight: 400;
    color: $text-color;
    margin-bottom: 1px;
  }
  .publication-authors {
    font-style: italic;
    color: $text-grey;
    margin-bottom: 1px;
  }
  .publications-section {
    .intro {
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 15px;
    }
  }
  .interests-list {
    margin-bottom: 0;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .name {
    font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .profile {
    margin-bottom: 15px;
  }
  .contact-list {
    .fas,
    .fab,
    .far {
      margin-right: 5px;
      font-size: 18px;
      vertical-align: middle;
    }
    li {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .contact-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
    .contact-item {
      flex: 1;
      text-align: center;
      padding: 10px;
    }
  }
}

.skillset {
  .item {
    margin-bottom: 15px;
    overflow: hidden;
  }
  .level-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .level-bar {
    height: 12px;
    background: $smoky-white;
  }
  .level-bar-inner {
    height: 12px;
    background: $light-blue;
  }
}

.terminal-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $light-blue;
  color: $text-color;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.terminal-nav a {
  color: $smoky-white;
  text-decoration: none;
  margin-right: 10px;
}

.terminal-nav a:hover {
  text-decoration: underline;
}

.terminal-nav-item {
  color: $text-color;
  text-decoration: none;
  margin-right: 10px;
}

.terminal-nav-item-not-hover {
  color: $theme-color;
  text-decoration: none;
  margin-right: 10px;
}

.footer {
  padding-top: 30px;
  .copyright {
    line-height: 1.6;
    color: $text-color-secondary;
    font-size: 13px;
  }
}

.footer-icon {
  width: 50px; /* adjust as needed */
  height: auto;
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  text-align: center; /* Centers the content within the wrapper */
  width: 100%;
  margin: auto;
}

.centered-image {
  width: 25%; /* Sets the image width to 25% of its parent element */
  max-width: 100%; /* Ensures the image is not larger than its intrinsic size */
  height: auto; /* Maintains the aspect ratio */
  margin: 0 auto; /* Centers the image horizontally */
  display: block; /* Images are inline by default. This ensures it can be centered properly using margin */
}

.centered-text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}